<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content>
    <button ion-button (click)="pushPage()">
      Go to OtherPage
    </button>
    <button *ngIf="!auth.authenticated" ion-button (click)="login()">
      Login
    </button>
    <button *ngIf="auth.authenticated" ion-button (click)="logout()">
      Login
    </button>
    <div *ngIf="auth.authenticated">
      {{auth.authz.token}}
    </div>
  </ion-content>
</ion-content>
